*{
  margin: 0;
  padding: 0;
}
body{
  box-sizing: border-box;
  font-family: sans-serif;
  /* background-color:black; */
  overflow-x: hidden;
}
.App{
  background-color: black
  /* color: white; */
}
